
<!DOCTYPE html>
<html lang="ja">

	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>選択画面（１）</title>
	 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
	<body>
	
		<div class="container">
			<h2 class="page-header">欲しい付帯サービスを選んでください</h2>
			<form method="post" th:action="@{/test_credit_select2}">
				<div class="list-group form-group">
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="1">入会キャンペーンが実施されているカードがいい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="2">ポイント還元率が高い</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="3">「Amazon.co.jp」でのネットショッピングをお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="4">「Yahoo!ショッピング」でのネットショッピングをお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="5">「楽天市場」でのネットショッピングをお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="6">街なかのショッピングでお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="7">コンビニ（セブンイレブン）でお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="8">コンビニ（ローソン）でお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="9">コンビニ（ファミリーマート）でお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="10">スーパーでお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="11">携帯電話でお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="12">電車でお得にしたい/電車で便利に過ごしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="13">ガソリンスタンドでお得にしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="14">空港ラウンジを利用できるようにしたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="15">ANAマイルをお得に貯めたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="16">JALマイルをお得に貯めたい</label></div>
	      	<div class="list-group-item checkbox"><label><input type="checkbox" name="service_id" value="17">なによりも即日発行したい</label></div>
	      	<br>
	      	<button type="submit" class="btn btn-info">次へ進む</button>
	      </div>	
		 	</form>
		</div>
		 	
   	<ul class="pager">
   		<li><button class="btn btn-default" onclick="location.href='./test_credit_title'">戻る</button></li>
   		<li><button class="btn btn-default" onclick="location.href='./test_credit_title'">ホーム</button></li>
   	</ul>
   	
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	
	</body>
</html>