
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>選択画面</title>
	</head>
	<body>
		<h1>年会費について</h1>
		<form method="post" th:action="@{/test_credit_select3}">
    	<p>
      	<input type="checkbox" name="service_id" value="21">年会費無料<br>
				<input type="checkbox" name="service_id" value="22">1円以上5,000円未満<br>
				<input type="checkbox" name="service_id" value="23">5,000円以上15,000円未満<br>
				<input type="checkbox" name="service_id" value="24">15,000円以上25,000円未満<br>
				<input type="checkbox" name="service_id" value="25">25,000円以上<br>
				<br>
				<input type="checkbox" name="service_id" value="26">初年度無料<br>
				<input type="checkbox" name="service_id" value="27">条件付無料<br>
				
				<br>
    		<input type= "submit" value=次へ進む>
    	</p>
   	</form>	
	</body>
</html>